<%- include("partials/header"); -%>


<div class="welcome">
  <h1>Welcome to my page where i'll illustrate how to make a login page more secure</h1>
  <h3>Enjoy!</h3>
</div>


<%- include("partials/footer"); -%>
